apiVersion: apps/v1
kind: Deployment
metadata:
  name: openvpn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openvpn
  template:
    metadata:
      labels:
        app: openvpn
    spec:
      nodeSelector:
        kubernetes.io/arch: arm64
      containers:
        - name: openvpn
          image: openvpn/openvpn-as:latest
          ports:
            - containerPort: 1194
              protocol: UDP
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          volumeMounts:
            - name: openvpn-data
              mountPath: /config
      volumes:
        - name: openvpn-data
          persistentVolumeClaim:
            claimName: openvpn-pvc
