name: Deploy Busybox to K8s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: '1.27.3'

      - name: add entry to /etc/hosts
        run: |
          echo "127.0.0.100 kubernetes" >> /etc/hosts

      - name: Set up SSH key
        run: |
          echo "${{ secrets.ORACLE_SSH_KEY }}" > /tmp/id_rsa
          chmod 600 /tmp/id_rsa

      - name: Deploy Busybox Pod
        run: |
          ssh -i /tmp/id_rsa \
          -o StrictHostKeyChecking=no \
          -o UserKnownHostsFile=/dev/null \
          -L 127.0.0.100:16443:127.0.0.1:6443 \
          -fN \
          ubuntu@158.101.117.42
          kubectl apply -f k8s/busybox.yml
          kubectl get pods busybox-pod -o wide
          kubectl describe pod busybox-pod

